<div>
  <div style="padding: 15px;">
    <h1 style="font-weight: bold; color: white;">Datos de tu cuenta</h1>
  </div>
  <div>
    <form [formGroup]="form" (ngSubmit)="onNextClick()">
      <ion-item style="width: 96%;">
        <ion-label >Usuario</ion-label>
        <ion-input type="text" formControlName="usuario"></ion-input>
        <span *ngIf="form.get('usuario')?.touched && (form.get('usuario')?.value == null || form.get('usuario')?.value === '')" style="font-size: 15px; color: red;">Complete el campo</span>
      </ion-item>
      

      <ion-item style="width: 96%;">
        <ion-label >Correo</ion-label>
        <ion-input type="mail" formControlName="correo"></ion-input>
        <span *ngIf="form.get('correo')?.touched && (form.get('correo')?.value == null || form.get('correo')?.value === '')" style="font-size: 15px; color: red;">Complete el campo</span>
        <span *ngIf="form.get('correo')?.touched && form.get('correo')?.hasError('email')" style="font-size: 15px; color: red;">Ingrese un correo valido</span>
      </ion-item>
    
      <ion-item style="width: 96%;">
        <ion-label >Nombre</ion-label>
        <ion-input type="text" formControlName="nombre"></ion-input>
        <span *ngIf="form.get('nombre')?.touched && (form.get('nombre')?.value == null || form.get('nombre')?.value === '')" style="font-size: 15px; color: red;">Complete el campo</span>
      </ion-item>

      <ion-item style="width: 96%;">
        <ion-label >Telefono</ion-label>
        <ion-input type="tel" formControlName="telefono"></ion-input>
        <span *ngIf="form.get('telefono')?.touched && (form.get('telefono')?.value == null || form.get('telefono')?.value === '')" style="font-size: 15px; color: red;">Complete el campo</span>
      </ion-item>

      <ion-item style="width: 96%;">
        <ion-label>Contraseña</ion-label>
        <ion-input type="password" formControlName="contraseña"></ion-input>
        <span *ngIf="form.get('contraseña')?.touched && (form.get('contraseña')?.value == null || form.get('contraseña')?.value === '')" style="font-size: 15px; color: red;">Complete el campo</span>
      </ion-item>

      <ion-item style="width: 96%;">
        <ion-label >Repite Contraseña</ion-label>
        <ion-input type="password" formControlName="repetirContraseña"></ion-input>
        <span *ngIf="form.get('repetirContraseña')?.touched && (form.get('repetirContraseña')?.value == null || form.get('repetirContraseña')?.value === '')" style="font-size: 15px; color: red;">Complete el campo</span>
      </ion-item>
<!--
      <div style="padding: 10px; margin-left: 5px;">
        <ion-label>¿Que eres?</ion-label>
      </div>
      <ion-item>
        <ion-select formControlName="tipoUsuario" (ionChange)="onChangeTipoUsuario()" placeholder="Selecciona una opcion">
          <ion-select-option value="barber">Barbero/a</ion-select-option>
          <ion-select-option value="cliente">Cliente</ion-select-option>
        </ion-select>
        <span *ngIf="form.get('tipoUsuario')?.touched && form.get('tipoUsuario')?.hasError('required')" style="font-size: 15px; color: red;">Seleccione una opción válida</span>
      </ion-item>
-->
    </form>
  </div>
<br>
  <div style="padding: 15px;display: flex;
  justify-content: space-between;">
    <ion-button color="danger" style="width: 94%; color: white;" (click)="cancel()">Cancelar</ion-button>
    <ion-button color="success" type="submit" style="width: 94%; color: white;" (click)="onNextClick()">Siguente</ion-button>
  </div>
</div>
